.git
.github
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/dist
**/coverage
**/.dart_tool
**/.flutter-plugins
**/.flutter-plugins-dependencies
apps/mobile
docs/architecture
infra
*.md
!docs/data/sql/**
.DS_Store
uploads
**/*.log
